.contactMethod {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}

.icon {
  width: 1.5rem;
  margin-right: 2rem;
}

.contactText {
  font-size: 0.9rem;
  color: hsl(193, 100%, 96%);
  margin: 0;
}

/* Media Queries */
@media (min-width: 1000px) {
  .contact {
    max-width: 344px;
  }
}
