.footer {
  background-color: hsl(192, 100%, 9%);
  color: hsl(193, 100%, 96%);
  padding: 12rem 0 3rem;
}

.footerContent {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.copyright {
  margin-top: 3rem;
  text-align: center;
}
