.footerLinks {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.listItem {
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.listItem:hover {
  text-decoration: underline;
}

/* Media Queries */
@media (min-width: 1000px) {
  .footerLinks {
    flex-direction: row;
    margin-top: 0;
  }

  .list:first-of-type {
    margin-right: 6rem;
  }
}
