.header {
  background: hsl(193, 100%, 96%) url('../images/bg-hero-mobile.svg') center
    no-repeat;
  text-align: center;
  padding: 2rem 0 3rem;
  margin-bottom: 4rem;
}

.title {
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}

.text {
  color: hsl(192, 100%, 9%);
  margin-bottom: 2rem;
}

.headerBtn {
  width: 75%;
  margin-bottom: 3.5rem;
}

/* Media Queries */
@media (min-width: 1000px) {
  .header {
    background-image: ('../images/bg-hero-desktop.svg');
    text-align: left;
  }

  .headerContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .headerText {
    width: 45%;
    margin-right: 4rem;
    font-size: 1rem;
  }

  .title {
    font-size: 2.3rem;
  }

  .headerBtn {
    margin-bottom: 0;
  }

  .headerImage {
    width: 55%;
  }
}
