.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto 5rem;
}

.logo {
  width: 30%;
  max-width: 174px;
}

.navBtn {
  background-color: #fff;
  color: hsl(192, 100%, 9%);
  border: none;
  border-radius: 2rem;
  width: 30%;
  max-width: 145px;
  padding: 0.9em 0;
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
}

.navBtn:hover {
  opacity: 0.9;
}
